* {
    margin: 0;
    padding: 0;
}

/* (1) 로고 */
.logo {
    font-family: 'Permanent Marker', cursive;
}

/* (2) 메뉴 항목 */
.nav-item { 
    margin-left: 50px;
}


.dropdown:hover .dropdown-menu { /* 드롭다운 자동으로 노출*/
    display: block;
    margin-top: 0;
    
}

#navbarSupportedContent > .dropdown-menu {
    max-width: fit-content;
    background-color: blue;
}

.dropdown-toggle:hover { 
    color: forestgreen;
}

/* (3) 클래스등록&로그인 */
.btn-outline-success {
}
.btn-outline-secondary {
    margin-left: 10px;
}

/* 슬라이드 */
#carouselExampleIndicators {
    height: 350px;
    overflow: hidden;
}

/* 카테고리 */
.category {
    height: 1000px;
}

.post {
    margin-top: 100px;
    margin-bottom: 100px;
    height: 300px;
}

/* Footer */
#footer_top {
    margin-top: 50px;
}
.footer_menu {
    display: inline;
}

hr {
  	border:none;
 	width: auto;
	height: 52px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 10px -20px #333;
  	margin: -50px auto 10px; 
}
