@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* (1) 로고 */
.logo {
	font-family: 'Permanent Marker', cursive;
}

/* (2) 메뉴 항목 */
.nav-item {
	margin-left: 50px;
}

.dropdown:hover .dropdown-menu { /* 드롭다운 자동으로 노출*/
	display: block;
	margin-top: 0;
}

#navbarSupportedContent>.dropdown-menu {
	max-width: fit-content;
	background-color: blue;
}

.dropdown-toggle:hover {
	color: forestgreen;
}

/* (3) 클래스등록&로그인 */
/* .btn-outline-success {
	
} */

.btn-outline-secondary {
	margin-left: 10px;
}

/* 슬라이드 */
#carouselExampleIndicators {
	height: 350px;
	overflow: hidden;
}

/* 카테고리 */
.category {
	height: 1000px;
}

.post {
	margin-top: 100px;
	margin-bottom: 100px;
	height: 300px;
}

/* Footer */
#footer_top {
	margin-top: 50px;
}

.footer_menu {
	display: inline;
}

/* #hr-home {
  	border:none;
 	width: auto;
	height: 52px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 10px -20px #333;
  	margin: -50px auto 10px; 
} */

/***** datepicker css *****/
.ui-widget-header {
	border: 0px solid #dddddd;
	background: #fff;
}

.ui-datepicker-calendar>thead>tr>th {
	font-size: 14px !important;
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 10px 0;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover,
	html .ui-button.ui-state-disabled:active {
	border: 0px solid #c5c5c5;
	background-color: transparent;
	font-weight: normal;
	color: #454545;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 0em;
	line-height: 16px;
	text-align: center;
	font-size: 14px;
	padding: 0px;
	font-weight: bold;
}

.ui-datepicker {
	display: none;
	background-color: #fff;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 20px;
	padding-bottom: 10px;
	width: 300px;
	box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.ui-widget.ui-widget-content {
	border: 1px solid #eee;
}

#datepicker:focus>.ui-datepicker {
	display: block;
}

.ui-datepicker-prev, .ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker-next {
	float: right;
}

.ui-state-disabled {
	cursor: auto;
	color: hsla(0, 0%, 80%, 1);
}

.ui-datepicker-title {
	text-align: center;
	padding: 10px;
	font-weight: 100;
	font-size: 20px;
}

.ui-datepicker-calendar {
	width: 100%;
}

.ui-datepicker-calendar>thead>tr>th {
	padding: 5px;
	font-size: 20px;
	font-weight: 400;
}

.ui-datepicker-calendar>tbody>tr>td>a {
	color: #000;
	font-size: 12px !important;
	font-weight: bold !important;
	text-decoration: none;
}

.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
	cursor: auto;
	background-color: #fff;
}

.ui-datepicker-calendar>tbody>tr>td {
	border-radius: 100%;
	width: 44px;
	height: 30px;
	cursor: pointer;
	padding: 5px;
	font-weight: 100;
	text-align: center;
	font-size: 12px;
}

.ui-datepicker-calendar>tbody>tr>td:hover {
	background-color: transparent;
	opacity: 0.6;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
	.ui-button:hover, .ui-button:focus {
	border: 0px solid #cccccc;
	background-color: transparent;
	font-weight: normal;
	color: #2b2b2b;
}

.ui-widget-header .ui-icon {
	background-image:
		url('../image/btns.png');
}

.ui-icon-circle-triangle-e {
	background-position: -20px 0px;
	background-size: 36px;
}

.ui-icon-circle-triangle-w {
	background-position: -0px -0px;
	background-size: 36px;
}

.ui-datepicker-calendar>tbody>tr>td:first-child a {
	color: red !important;
}

.ui-datepicker-calendar>tbody>tr>td:last-child a {
	color: #0099ff !important;
}

.ui-datepicker-calendar>thead>tr>th:first-child {
	color: red !important;
}

.ui-datepicker-calendar>thead>tr>th:last-child {
	color: #0099ff !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 0px;
	background: #f1f1f1;
	border-radius: 50%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.inp {
	padding: 10px 10px;
	background-color: #f1f1f1;
	border-radius: 4px;
	border: 0px;
}

.inp:focus {
	outline: none;
	background-color: #eee;
}

/***** 클래스 조회 css *****/

.searchhead {
	padding: 4px 0;
}

.searchhead_map {
    padding: 7px 0;
}

.card {
	/* font-family: ; */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 	transition: all 300ms;
}

.card:hover {
	filter: drop-shadow(0 0 6px rgb(150, 190, 190, 80%));
  	transform: translateY(-1px);
  	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.card-header{
	font-weight: bold;
	background: rgb(181,228,228);
/* 	background: linear-gradient(180deg, rgba(181,228,228,0.7) 0%, rgba(224,244,238,0) 100%); */
	--bs-card-border-width: 0;
}

/***** 클래스 등록 css *****/

.main {
	margin-right: auto;
	margin-left: auto;
	max-width: 1400px;
}

.main1 {
	height: 100%;
	display: flex;
}

.left{
	position: relative;
	background-color: #EAF4F4;
}

.btn_1 {
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
	margin: 20px;
	/* float: right; */
}

.btn_in {
	color: white;
	font-size: 22px;
	background: #9abf7f;
	min-height: 30px;
	min-width: 120px;
	margin: 5px;
	border-radius: 20px;
}

.btn_in:hover {
	color: white;
	background-color: #419428;
	transition: 0.4s;
}

.btn_before {
	color: white;
	font-size: 20px;
	background: #FFB077;
	min-height: 30px;
	min-width: 120px;
	margin: 5px;
	border-radius: 20px;
}

.btn_before:hover {
	color: white;
	background-color: #F08650;
	transition: 0.4s;
}

.btn_after {
	color: white;
	font-size: 20px;
	background: #9abf7f;
	min-height: 30px;
	min-width: 120px;
	margin: 5px;
	border-radius: 20px;
}

.btn_after:hover {
	color: white;
	background-color: #419428;
	transition: 0.4s;
}

.btn_image {
	border: 2px solid black;
	background-color: white;
	color: black;
	padding: 5px 10px;
	font-size: 16px;
	cursor: pointer;
	border-color: #2196F3;
	color: dodgerblue;
	border-radius: 5px;
}

.btn_image:hover {
	background: #2196F3;
	color: white;
}

#price {
	outline-color: green;
	text-align: right;
	margin-right: 5px;
	padding: 8px;
	font-size: 20px;
	border-radius: 10px;
}
.sns {
	margin-right: 20px;
}
.sns_2{
	display: inline;
	width:300px;
	margin: 0px 50px 0px 10px;
}
.link {
	margin: 10px;
}

.tool {
	position: relative;
	display: inline-block;
	margin: auto;
}

.tool .tooltip-content {
	visibility: hidden;
	width:330px;
	background-color: #008080;
	padding-top: 0;
	color: white;
	text-align: center;
	position: absolute;
	z-index: 1;
	bottom: 180%;
	left: 50%;
	margin-left: -150px;
	border-radius: 20px;
}

.tool .tooltip-content::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: #008080 transparent transparent transparent;
}

.tool:hover .tooltip-content {
	visibility: visible;
}
