

.contents{
	width: 100%;
    height: 100%;
    display: flex;
    max-width: 600px;
    flex-direction: column;
}


.side_left{
	width: 300px;
	height: 600px;
	background-color: white;
	float: left;
}

.side_right{
	width: 700px;
	height: 600px;
	float: left;
}
