.container{
	margin:10px;
}

#price{
	outline-color: green;
    text-align: right;
    margin-right: 5px;
    padding: 8px;
    font-size: 22px;
    border-radius: 10px;
}

.btn_2{
	margin: 20px;
	/* float: right; */
}

.btn_in {
	color: white;
	font-size: 22px;
	background: #9abf7f;
	min-height:30px; 
    min-width: 120px;
    margin: 5px;
    border-radius: 20px;
}
.btn_in:hover  {
	color: white;
    background-color: #419428;
    transition: 0.4s;
  }
  
.btn_before{
	color: white;
	font-size: 22px;
	background: #FFB077;
	min-height:30px; 
    min-width: 120px;
    margin: 5px;
    border-radius: 20px;
}
.btn_before:hover  {
	color: white;
    background-color: #F08650;
    transition: 0.4s;
  }  
